.img-a 
  display: block 
  margin: left   
  width: auto
  height: auto
.blockquote 
  padding: 3px 10px
  border-bottom-left-radius: 20px
  border-top-right-radius: 60px
  border-bottom-right-radius: 30px
  background-color: #FAD9C5
